.git
.gitignore
.pytest_cache
.venv
.env
.env.*
__pycache__
*.pyc
*.pyo
*.pyd
dist
build
.coverage
htmlcov
tests
.python-version
.mypy_cache
.ruff_cache
reports
img
scripts
docker-compose.yml
uv.lock
