APP_DEBUG=false
APP_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/professores
APP_DATABASE_URL_TEST=postgresql://postgres:postgres@localhost:5432/professores_test
APP_DB_POOL_MIN_SIZE=1
APP_DB_POOL_MAX_SIZE=10
APP_API_V1_PREFIX=/api/v1
